/StellarCountdown/.vs/StellarCountdown/FileContentIndex/539cd960-325a-46de-a98d-85e9dee5b5a1.vsidx
/StellarCountdown/.vs/StellarCountdown/FileContentIndex/c5df6790-1afd-4d68-95e1-2e240970889a.vsidx
.vs/
/StellarCountdown/.vs/StellarCountdown/DesignTimeBuild/.dtbcache.v2
/StellarCountdown/.vs/StellarCountdown/v17/.suo
/StellarCountdown/.vs/StellarCountdown/v17/DocumentLayout.backup.json
/StellarCountdown/.vs/StellarCountdown/v17/DocumentLayout.json
/StellarCountdown/StellarCountdown/obj/Debug/net8.0/StellarCountdown.AssemblyInfo.cs
/StellarCountdown/StellarCountdown/obj/Debug/net8.0/StellarCountdown.AssemblyInfoInputs.cache
